@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  color: #000;
  background: #fff;
  padding-top: 5vh;
}

:root {
  --c1: #ffde77;
  --c2: #fec578;
  --c3: #f9a870;
  --c4: #f7966b;
  --c5: #f28c7c;
  --c6: #f57871;
  --c7: #d881b6;
  --c8: #816aae;
  --c9: #5464af;
  --c10: #5d8bc9;
  --c11: #4cc7dd;
  --c12: #57c4c7;
  --c13: #5cc4b1;
  --c14: #65c294;
  --c15: #acd589;
  --c16: #d7e37d;
  --fontSize18:calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  --fontSize20:calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  
}

@media (min-width: 576px) {
  :root {
    --size-divisor: 1;
  }
}
@media (min-width: 768px) {
  :root {
    --size-divisor: 0.9;
  }
}
@media (min-width: 992px) { 
  :root {
    --size-divisor: 0.7;
  }
}
@media (min-width: 1200px) { 
  :root {
    --size-divisor: .67;
  }
}

/* ------------------- Header -------------------- */

.tittle {
  text-align: center;
}
a {
  text-decoration: none;
}
.nav {
  text-align: center;
  font-size: var(--fontSize20);
  margin: 20px 0px 20px 0px;
}
.nav > a{
  padding: 5px 5px 5px 5px;
  margin: 10px 15px 10px 15px;
}
hr.line {
  border-top: 3px dashed var(--c6);
  margin: 10px;
}
.about {
  padding: 0 5vw 0 5vw;
  margin-left: auto;
  margin-right: auto;
  width: calc(550px / var(--size-divisor));
  
  /* calc([min size] + ([max size] - [min size]) * ((100vw - [min viewport width]) / ([max viewport width] - [min viewport width])));*/
  font-size: var(--fontSize18);
}
